<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mpv_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <mpv_gui.Properties.Settings>
            <setting name="isFullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noAudio" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="noVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="vidWidth" serializeAs="String">
                <value>1280</value>
            </setting>
            <setting name="vidHeight" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="vidPosX" serializeAs="String">
                <value>50%</value>
            </setting>
            <setting name="vidPosY" serializeAs="String">
                <value>50%</value>
            </setting>
            <setting name="vidCenterPos" serializeAs="String">
                <value>False</value>
            </setting>
        </mpv_gui.Properties.Settings>
    </userSettings>
</configuration>